* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.twitter {
    display: flex;
    height: 100vh;
}

.twitter__sidebar {
    background-color: #24476f;
    border-top-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 5px;    
    flex: 20%;
    text-align: center;
}

.twitter__img {
    border-radius: 3px;
    width: 60%;
    margin-top: 50px;
}

.twitter__nav {
    margin-top: 36px;
}

.twitter__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #6892af;
}

.twitter__list-item {
    margin-bottom: 24px;
    cursor: pointer;
}

.twitter__list-item:hover {
    color: #2aa2ef;
}

.twitter__list-item i {
    font-size: 22px;
}

.twitter__profile-section {
    flex: 80%;
}

.twitter__header {
    border-bottom: 1px solid #d2dce1;
}

.twitter__img-profile {
    background-image: url('./assets/bg-img.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
    height: 150px;
}

.twitter__profile {
    border: 3px solid #ffffff;
    border-radius: 3px;
    position: absolute;
    width: 20%;
    bottom: -15%;
    left: 16px;
}

.twitter__text-content {
    margin-left: 14px;
}

.twitter__btn {
    color: #2aa2ef;
    background-color: #ffffff;    
    border: 1px solid #2aa2ef;
    border-radius: 3px;
    padding: 6px 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: (17/14);
    cursor: pointer;
}

.twitter__btn:hover {
    background-color: #2aa2ef;
    color: #ffffff;
}

.twitter__edit-content {
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4px;
}

.twitter__edit-btns {
    padding: 5px 12px;
    border: none;
}

.twitter__headline {
    font-size: 21px;
    line-height: (26/21);
    color: #333333;
    font-weight: 500;
}

.twitter__profile-id {
    color: #828282;
    font-weight: 500;
    font-size: 14px;
    line-height: (17/14);
    margin-bottom: 16px;
}

.twitter__about {
    font-size: 14px;
    line-height: (17/14);
    color: #333333;
    font-weight: 500;
    margin-bottom: 10px;
}

.twitter__website {
    color: #2aa2ef;
    font-size: 14px;
    line-height: (17/14);
    font-weight: 500;
    display: block;
    text-decoration: none;
    padding-left: 5px;
    margin-bottom: 14px;
}

.twitter__website i {
    color: #828282;
}

.twitter__follows {
    display: flex;
    color: #828282;
    font-size: 12px;
    line-height: (15/12);
    font-weight: 500;
    margin-bottom: 27px;
}

.twitter__follows span {
    color: #333333;
    margin-right: 5px;
}

.twitter__follows i {
    font-size: 3px;
    display: flex;
    align-items: center;
    margin-left: 9px;
    margin-right: 9px;
}

.twitter__links {
    border-radius: 3px;
    border: 1px solid #2aa2ef;   
    display: inline-block;
    margin-bottom: 6px; 
}

.twitter__link-btn {
    border-radius: 0;  
    padding: 5px 25px;  
}

.twitter-tweets {
    display: flex;
    padding: 13px;
}

.twitter-tweets__sidebar {
    flex: 20%;
    margin-right: 13px;
    text-align: center;
}

.twitter-tweets__retweet {
    color: #828282;
    font-size: 13px;
    text-align: right;
    margin-bottom: 8px;
}

.twitter-tweets__img {
    margin-top: 0;
    width: 50%;
    min-width: 50px;
    /* height: 50px; */
    object-fit: cover;
}

.twitter-tweets__main {
    flex: 80%;
}

.twitter-tweets__profileId {
    color: #828282;
    font-size: 12px;
    line-height: (16/12);
    margin-bottom: 8px;
}

.twitter-tweets__tweet-info {
    display: flex;
    font-size: 14px;
    line-height: (17/14);
    font-weight: 500;
    color: #828282;
    margin-bottom: 8px;
}

.twitter-tweets__name {
    color: #333333;
    margin-right: 8px;
}

.twitter-tweets__date {
    flex: auto;
    text-align: right;
}

.twitter-tweets__tweet-text {
    color: #333333;
    font-size: 14px;
    line-height: (17/14);
    margin-bottom: 13px;
}

.twitter-tweets__image {
    border-radius: 3px;
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}